/* adding the another css file to the actual file */
@import url("../css/fonts.css");

html.body{
    margin: 0% ;
    /* creating the box to provide the padding, width and height */
    box-sizing: border-box;
    /* no scroll available */
    overflow-x: hidden;
}
:root{
    /* Theme colors through variables */
    --text-gray: #3f4954;
    --text-light: #686666da ;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* Gradient Color through variables */
    --sky:linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    /* Theme font-family through variables */
    --Abel:"Abel", cursive;
    --Anton:"Anton", cursive;
    --Josefin:'Josefine',cursive;
    --Lexend:"Lexend", cursive;
    --Livvic:"Livvic", cursive;
    --Sansita:"Sansita", cursive;
    --Lobster:"Lobster",cursive;
    --Permanent:"Permanent", cursive;
}
/* declaring  some properties for all the tags and classes to apply to all tags as default */
h1{
    font-family: var(--Sansita);
    font-size: 2.5rem ;
}
h2{
    font-family: var(--Lexend);
}
h3{
    font-family: var(--Abel);
    font-size: 1.3rem ;
}
button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-family: var(--Lexend);
    font-size: 1rem;
    cursor: pointer;
}
span{
    font-family: var(--Abel);
}
.container{
    margin: 0 5vw;
}
.text-gray{
    color: var(--text-gray);
}
p{
    font-family: var(--Lexend);
    color: var(--text-light);
}
/* ------Global Classes----------------- */
a{
    text-decoration: none;
    color: var(--text-gray);
}
.flex-row{
    display:flex;
    /* if the size is reduced the contents appear in same row or the new column is formed */
    flex-direction: row;
    /* to take the content and bring to next line if they extend beyond the box in width */
    flex-wrap: wrap ;
}
ul{
    /* to remove the list */
    list-style-type: none;
}

/*------Navigation menu------ */
/* .logo{
    background: url("../assets/logo.png");
    background-size: 8vh 8vh;
    background-repeat: no-repeat;
    height: 10vh;
    width: 10vh;
} */
.nav{
    /* background-color: antiquewhite; */
    /* rem to relative height with respect to root element
    vh - 1 % relative height with respect to the viewport */
    /* this gives the left and the right padding */
    padding: 0 1rem;  
    height: 0rem;
    /* atleast this much height will rem */
    min-height: 10vh;
    /* to hide the overflow content */
    overflow: hidden;
    /* to provide the time and ease of menu opening that is the transition */
    transition: height 1s ease-in-out;
}
.nav-brand{
    display:flex;
    flex-direction: row;
    justify-content: left;
}
.nav-brand a{
    font-size: 2rem;
    padding: 1rem 0;
    /* changes the anchor tag to a block element */
    display: block;
    font-family: var(--Sansita);
}  
.nav-menu{
    justify-content: space-between ;
}
.toggle-collapse{
    /* fixing the position irrespective of the viewport */
    position: absolute;
    top:0%;
    width: 90%;
    display:none; 
    cursor: pointer;
}
.toggle-icons{
    display:flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
} 
.toggle-icons i{
    font-size: 1.4rem;
    color:var(--text-gray);
}
.collapse{
    height: 32rem ;
}
.nav-items{
    display: flex;
    margin: 0;
}
.nav-link{
    /* padding added to the top-bottom and then the left-right */
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    /* postition is adusted according to the elements around */
    position: relative;
    font-family:var(--Abel);
}
.nav-link:hover{
    background-color: var(--midnight);
}
.nav-items:hover a{
    color: var(--white);
}
.social{
    padding: 1.4rem 0;
}
.social i{
    padding: 0 .2rem;
}
.social i:hover{
    color:#a1c4cf;
}
/*------Navigation menu----X------ */

/* --------------Main Content-------------- */

/* ------------------Site Title------------ */
.site-title{
    background: url("../assets/background.jpg");
    background-size: cover;
    height: 110vh;
    display:flex;
    justify-content: center;  
}
.site-background h1{
    margin: 0.3rem;
    font-family: var(--Permanent);
}
.site-background h3{
    margin: 0.3rem;
}
.site-background{
    text-align: center;
    padding-top: 10rem;
    color: var(--bg-color);
}
.btn{
    margin:1.8rem;
    background: var(--sky);
}
.btn:hover{
    /* to hide the background of the button */
     background: transparent; 
    border: 1px solid var(--bg-color);
}

/* --------X----------Site Title----X-------- */

/* ----------Dynamic Bog Posts------------------- */
.blog{
    /* background: url("../assets/abstract.png"); */
    background-repeat: no-repeat;
    color: var(--bg-color);
    height:auto;
    width: 100%;
}
.blog-post{
    padding-top: 6rem;
}
.blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width:80%;
    margin: 3rem 2rem;
    /* border: solid black; */
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
    border-radius: 1rem
}
.blog-title h3{
    font-family: var(--Josefin);
}
.blog-title{
    padding: 0.7rem 2rem;
    background: var(--sky);
    margin: 0.5rem;
}
.blog-content span{
    display: block;
}
.owl-nav{
    top: 0%;
    margin: 0 auto;
    width: 100% ;
    position: absolute;
}
.fa-long-arrow-alt-left,.fa-long-arrow-alt-right{
    color: var(--text-gray);
    font-size: 2rem;
    background: white;
    outline: none;
}
.owl-nav [class *='owl-']:hover{
    background: transparent;
    color: var(--midnight);
}
.owl-nav [class *='owl-']{
    outline: none;
}
/* ----X------Dynamic Blog Posts-----------X--------- */


/* -----Site content-------- */
.site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}
.post-content{
    width: 100%;
}
.post-image, .post-title{
    padding: 1rem 2rem;
    position: relative;
}
.post-info{
    background: var(--sky);
    padding: 1rem ;
    left: 20vw;    
    bottom: 0%;
    position: absolute;
    border-radius: 3rem;
}
.post-image div{
    overflow: hidden;
    transition: all 1s ease;
}
.img:hover{
    transform: scale(1.05);
}
.post-info span{
    margin: 0.5rem; 
}
.post-title a{
    font-family: var(--Anton);
    font-size: 1.5rem;
}
/* .post-title{
    margin-left: 2.5rem;
} */
.post-btn{
    border-radius: 0;
    padding: .7rem 1.5rem;
}
.pagination{
    justify-content: center;
    color: var(--text-gray);
    margin: 4rem 0rem;
}
.pagination a{
    padding: 0.6rem 0.9rem;
    border-radius: 2rem;    
    margin: 0.3rem;
    font-family: var(--Lexend);
}
.page{
    background: var(--text-gray);
    color: var(--white);
}
/* -x----Site content-----x--- */


/* -------------Sidebar----------------------- */
.category-list{
    font-family: var(--Livvic);
}
.list-items{
    background:var(--sky);
    padding:0.4rem 1rem;
    margin: 0.8rem 0;
    border-radius: 3rem; 
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.list-items a{
    color: black;
}
.popular-post.post-content{
     padding: 1rem 0; 
}
.popular-post h2{
    padding-top: 8rem;
}
.popular-post.post-info{
    padding: 0.4rem  !important;
    bottom: 0rem !important;
    left: 1.5rem !important;
    border-radius: 0rem !important;
    background: white !important;
}
.popular-post.post-title{
    font-size: 1rem;
    outline: dashed;
}
.newsletter{
    padding-top: 3rem;
}
.form-element{
    padding: 0.5rem 2rem ;
}
.input-element{
    width: 80%;
    height: 1.9rem;
    font-family: var(--Lexend);
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
}
.form-btn{
    /* border-radius:0;
    padding:0.8rem 32%; */
    margin: 1rem 0;
    background: var(--sky);
}
.popular-tags{
    padding:5rem 0;
}
.tag{
    background: var(--sky);
    padding: 0.4rem 1rem;
    border-radius: 3rem;
    margin: 0.4rem 0.6rem;
}
/* ----x---------Sidebar----------------------- */


/* -----X---------Main Content----X---------- */


/* ---------------Footer----------------------- */

.footer{
    height: 100%;
    background: var(--bg-color);
    position: relative;
}
/* -----x----------Footer-------------x---------- */

/* Viewport less than or equal to 750px */
@media only screen and (max-width:750px){
    .nav-menu,.nav-items{
        flex-direction: column;
    }
    .toggle-collapse{
        display: initial;
    }
}
/* ---X---  Viewport less than or equal to 750px */